/* Estilos generales */
body {
    font-family: "Arial", sans-serif;
    color: #487058;
  }
  
  h1 {
    color: #487058;
    text-align: center;
  }
  
  /* Estilos del bloque div */
  .reset-container {
    border: 1px solid #ddd;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .reset-container form {
    margin-bottom: 1rem;
  }
  
  .reset-container label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .reset-container input {
    display: block;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
  }
  
  .reset-container input[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: #b2cdbe;
    border: none;
    border-radius: 0.5rem;
    color: #487058;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reset-container input[type="submit"]:hover {
    background-color: #ccc;
  }
  